<!-- templates/swagger_ui.html -->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Docs ({{ active_spec|default('api') }})</title>
    <link rel="stylesheet"
          href="https://unpkg.com/swagger-ui-dist@5.18.2/swagger-ui.css"
          integrity="sha384-rcbEi6xgdPk0iWkAQzT2F3FeBJXdG+ydrawGlfHAFIZG7wU6aKbQaRewysYpmrlW"
          crossorigin="anonymous" />
  </head>
  <body>
    <div id="swagger-ui"></div>
    <script src="https://unpkg.com/swagger-ui-dist@5.18.2/swagger-ui-bundle.js"
            integrity="sha384-NXtFPpN61oWCuN4D42K6Zd5Rt2+uxeIT36R7kpXBuY9tLnZorzrJ4ykpqwJfgjpZ"
            crossorigin="anonymous"></script>
    <script>
      window.onload = () => {
        SwaggerUIBundle({
          url: "{{ spec_url }}",
          dom_id: '#swagger-ui'
        });
      };
    </script>
  </body>
</html>